{% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">Trang chủ</a>
      <button class="navbar-toggler" type="button" onclick="togglePopup()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form class="nav-link d-flex align-items-center gap-2" action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Đăng xuất">
            </form>
          </li>
          
          {% else %}
          <div class="nav-item1">
            <a href="{% url 'login' %}">Admin Login</a>
          </div>
          {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        {% if user.is_authenticated %}
        <li class="btn btn-primary" style="margin-right: 20px;" >
          <a href="{% url 'adding' %}" style="color: white;">Thêm sản phẩm</a>
        </li>
        {% endif %}
        <div class="container1">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
      </div>
    </div>
  </nav>
  <!-- <div class="popup-container" id="categoryPopup">
    <div class="category-item">Category 1</div>
    <div class="category-item">Category 2</div>
    <div class="category-item">Category 3</div>
    <div class="category-item">Category 4</div>
  </div> -->
  <div class="popup-container" id="categoryPopup">
    <div class="category-item"><a class="category" href="{% url 'homepage' %}">Trang chủ</a></div>
    {% for item in categories %}
    <div class="category-item"><a class="category" href="{% url 'get_category_items' category=item %}">{{ item }}</a></div>
    {% endfor %}
  </div>
  <style>
    .category{
        text-decoration: none;
        color: white;
        padding: 6px;
        background-color: #63c5da;
        border-radius: 5px;
        padding: 10px;
    }
    .category-item{
      margin: 20px;
    }
    .popup-container{
      border-radius: 5px;
    }
  </style>
    <script>
        function togglePopup() {
            var popup = document.getElementById('categoryPopup');
            if (popup.style.display === 'block') {
                popup.style.display = 'none';
            } else {
                popup.style.display = 'block';
            }
            }

    document.querySelector('.container1').addEventListener('click', togglePopup);
    </script>